Requirements,version & dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import OOPs_deep_stats as deep 
import warnings
warnings.filterwarnings("ignore")

numpy version: 1.26.4
pandas version: 2.2.3
matplotlib version: 3.9.2
seaborn version: 0.13.2
warnings is a standard library module → version not applicable
OOPs_deep_stats is custom module → version depends on implementation

WineQT.csv-dataset file

import joblib which is a library to save the model as pkl.